@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
    --font-size-title: 35px;
    --font-size-subtitle: 25px;
    --font-size-text: 16px;
    --font-size-title-preparation: 20px;
    --font-principal: 'Outfit', sans-serif;
    --font-title: 'Young Serif', sans-serif;
    --font-subtitle: 'Young Serif', sans-serif;

    --hr:  hsl(30, 18%, 87%);
    --white: hsl(0, 0%, 100%);

    --color-title: hsl(24, 5%, 18%);
    --color-subtitle: hsl(14, 45%, 36%);
    --color-text: hsl(30, 10%, 34%);
    --color-title-preparation: hsl(332, 51%, 32%);
    --color-text-footer:  hsl(33, 15%, 52%);

    --bg-preparation: hsl(330, 100%, 98%);
    --bg: hsl(30, 54%, 90%);
    --bg-footer: hsl(0, 0%, 100%); 
    }